*.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
intermediate_data/*.rdata filter=lfs diff=lfs merge=lfs -text
travis_cache/*.rdata filter=lfs diff=lfs merge=lfs -text
